/* Admin.css */
.admin-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.admin-title {
  text-align: center;
  color: #333;
}

.admin-tabs-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-tabs__tab-list {
  border-bottom: 2px solid #3498db;
  margin-bottom: 20px;
}

.react-tabs__tab {
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
}

.react-tabs__tab--selected {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

.admin-tab-content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
/* Admin.css */

.toggle-menu-button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 10px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.toggle-menu-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-menu-button:focus {
  outline: none;
}
